Source: kodibuntu-artwork
Section: x11
Priority: optional
Build-Depends: debhelper (>= 7.0.50~),
               icon-naming-utils,
               intltool
Maintainer: Luigi Capriotti <l.capriotti@kodi.org>
Standards-Version: 3.9.1

Package: kodibuntu-artwork
Architecture: all
Depends: gtk2-engines,
         gtk2-engines-pixbuf,
         gtk2-engines-murrine,
         gtk3-engines-unico,
         lubuntu-lxpanel-icons,
         libnewt0.52 (>= 0.52.11-2ubuntu7),
         ${misc:Depends}
Description: artwork for KODIbuntu
 Artwork for KODIbuntu, contained the wallpaper and others specific images and
 logos.

Package: plymouth-theme-kodibuntu-logo
Architecture: all
Depends: plymouth, plymouth-label,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: plymouth-theme
Replaces: kodibuntu-plymouth-theme,
          plymouth (<< 0.8.1-1~)
Conflicts: kodibuntu-plymouth-theme
Description: plymouth theme for KODIbuntu
 This package contain a specific KODIbuntu theme for plymouth.
 

Package: plymouth-theme-kodibuntu-text
Architecture: all
Depends: plymouth,
         plymouth-label,
         ${misc:Depends},
         ${shlibs:Depends}
Provides: plymouth-theme
Replaces: plymouth (<< 0.8.1-1~)
Description: plymouth text theme for KODIbuntu
 This package contain a specific KODIbuntu theme for plymouth, which display a
 simple text.

