Source: xbmcbuntu-initscripts
Section: x11
Priority: optional
Maintainer: Luigi Capriotti <l.capriotti@xbmc.org>
Build-Depends: debhelper (>= 7), 
               intltool
Standards-Version: 3.8.3
Homepage: http://xbmc.org

Package: xbmcbuntu-initscripts
Architecture: all
Depends: ${misc:Depends}, 
         lxsession (>= 0.4.1), 
         xbmcbuntu-core, 
         pcmanfm (>= 0.9.5),
         ttf-ubuntu-font-family,
Description: default init scripts for XBMCbuntu
 Various system init scripts tailored for XBMCbuntu.
