# Theme for XBMCbuntu Eden (oneiric ocelot)
# Author: 神癒礁湖 (Rafael Laguna) · rafaellaguna@ubuntu.com
# Released under GPL3. See COPYING for license.
# For questions & feedback: lubuntu-desktop@lists.launchpad.net
# Subscribe here: https://launchpad.net/~lubuntu-desktop

[Desktop Entry]
Type=X-GNOME-Metatheme
Name=xbmcbuntu
Comment=XBMCbuntu desktop default theme
Encoding=UTF-8

[X-GNOME-Metatheme]
CursorSize=24
GtkTheme=xbmcbuntu
MetacityTheme=xbmcbuntu
IconTheme=elementary-dark
CursorTheme=DMZ-Black
ButtonLayout=close,minimize,maximize:
