Source: xbmcbuntu-artwork
Section: x11
Priority: optional
Build-Depends: debhelper (>= 7.0.50~)
Maintainer: Luigi Capriotti <l.capriotti@xbmc.org>
Standards-Version: 3.9.1

Package: xbmcbuntu-plymouth-theme
Architecture: all
Depends: ${misc:Depends}, plymouth-theme-xbmcbuntu-logo, plymouth-theme-xbmcbuntu-text
Description: Plymouth theme for XBMCubuntu
 Transitional package for plymouth-theme-xbmcbuntu-logo and
 plymouth-theme-xbmcbuntu-text.
 .
 This package can be safely removed.

Package: plymouth-theme-xbmcbuntu-logo
Architecture: all
Depends: plymouth, plymouth-label
Description: graphical boot animation and logger - xbmcbuntu-logo theme
 Plymouth is an application that runs very early in the boot process
 (even before the root filesystem is mounted!) that provides a graphical
 boot animation while the boot process happens in the background.
 .
 This package contains the xbmcbuntu-logo theme.

Package: plymouth-theme-xbmcbuntu-text
Architecture: all
Depends: ${misc:Depends}, plymouth, plymouth-theme-ubuntu-text
Provides: plymouth-theme
Description: graphical boot animation and logger - xbmcbuntu-text theme
 Plymouth is an application that runs very early in the boot process
 (even before the root filesystem is mounted!) that provides a graphical
 boot animation while the boot process happens in the background.
 .
 This package contains the default xbmcbuntu-text theme used when no support for
 a graphical theme is found on your system.

