Source: kodibuntu-default-settings
Section: x11
Priority: optional
Maintainer: Luigi Capriotti <l.capriotti@kodi.org>
Build-Depends: debhelper (>= 7), 
               intltool
Standards-Version: 3.8.3
Homepage: http://kodi.org

Package: kodibuntu-default-settings
Architecture: all
Depends: ${misc:Depends}, 
         lxsession (>= 0.4.1), 
         kodibuntu-artwork, 
         kodibuntu-icon-theme,
         pcmanfm (>= 0.9.5),
         ttf-ubuntu-font-family,
Description: default settings for KODIbuntu
 Various system settings tailored for KODIbuntu.
