Package: ubiquity-slideshow-xbmcbuntu
Source: ubiquity-slideshow-ubuntu
Version: 49
Architecture: all
Maintainer: Teamxbmc - Piethein Strengholt <erhnam@xbmc.org>
Installed-Size: 76
Conflicts: ubiquity-slideshow
Replaces: ubiquity-slideshow
Provides: ubiquity-slideshow
Section: x11
Priority: optional
Homepage: https://launchpad.net/ubiquity-slideshow-ubuntu
Description: Ubiquity slideshow for Ubuntu
 A slideshow intended for the Ubiquity installer, designed as a quick
 introduction to Ubuntu.
