Package: oem-config-slideshow-ubuntu
Source: ubiquity-slideshow-ubuntu
Version: 49
Architecture: all
Maintainer: Teamxbmc - Piethein Strengholt <erhnam@xbmc.org>
Installed-Size: 1016
Conflicts: oem-config-slideshow
Replaces: oem-config-slideshow
Provides: oem-config-slideshow
Section: x11
Priority: optional
Homepage: https://launchpad.net/ubiquity-slideshow-ubuntu
Description: OEM slideshow for Ubuntu
 A slideshow intended for the post-OEM-install configuration, designed
 as a quick introduction to Ubuntu.
